.warp {
  width: 100vw;
  min-height: 100vh;
  background-color: #160d20;
}

.warp-img {
  width: 100%;
}

.content {
  text-align: center;
  color:#fff;
  font-size: 28px;
}

.color-withe {
  color:#fff;
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}

.warning {
  color: red;
  font-size: 600;
}

.title {
  color:#7EFFE7;
}

.items-wrap {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-imge {
  width: 90vw;
}
